# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

lex.yy.c
tjc

# kernel module temp files
*.ko
*.mod.c
modules.order
Module.symvers
*.cmd
.tmp_versions

# Python related temp files
venv
__pycache__
*.pyc
*.pyo
